<mat-toolbar class="mat-elevation-z6" color="primary">
  Angular Material 2 App
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    opened="true"
    [fixedInViewport]="false"
    [fixedTopGap]="50"
  >
    I am the sidenav content
  </mat-sidenav>
  <div>I contain the main content and I am scrollable</div>
</mat-sidenav-container>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
